#container
{
    display: flex;
    flex-wrap: wrap;
}

.searchGroup input[type=text]
{
    height: 30px;
    width: 50vw;
}

.searchGroup select
{
    height: 30px;
    width: 9vw;
}

.filmCard
{
    margin: 10px;
    text-align: center;
    width: 320px;
    height: 350px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: rgba(57, 67, 135, .25);
    border-radius: 10%;
    transition: all .3s linear;
}

.filmCard:hover
{
    transform: scale(1.03,1.03);
}

.filmCard img
{
    border: 4px solid rgba(57, 67, 135, .8);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.filmCard a:link, .filmCard a:visited, .filmCard a:link:active, .filmCard a:visited:active 
{
    text-decoration: none;
    color: rgb(255,255,255,1);
    background-color: rgb(57, 67, 135);
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.filmCard p
{
    margin-top: 20px;
}