.detail
{
    text-align: center;
    font-size: 20px;
}

.detail h1, .detail h2
{
    margin: 5px;
}

.detail img
{
    border-radius: 60%;
}

.detail h1
{
    text-align: left;
}

.detail p
{
    margin: 15px;
}

.detail a:link, .detail a:visited, .detail a:link:active, .detail a:visited:active 
{
    margin-right: 10px;
    text-decoration: none;
    color: rgb(255,255,255,1);
    background-color: rgb(57, 67, 135);
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.detail .desc
{
    text-align: left;
}

