.addGroup, textarea, #addForm input[type=submit]
{
    font-size: 20px;
    text-align: center;
}

#addForm input[type=text], select
{
    margin: 20px 0px;
    margin-left: 10%;
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

#addForm input[type=file]
{
    display: none;
}

.addGroup a:link, .addGroup a:visited, .addGroup a:link:active, .addGroup a:visited:active, #addForm input[type=submit], #addForm #ff label
{
    cursor: pointer;
    margin: 20px 0px;
    text-decoration: none;
    color: rgba(255,255,255,1);
    background-color: rgb(57, 67, 135);
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: none;
}

.addGroup #addForm #buttonGroup, .addGroup #addForm #imageField
{
    margin: 20px;
}