*
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body
{
    background: linear-gradient(0deg, rgba(34, 40, 81, 0.5), rgba(34, 40, 81, 0.5)), url('/user/assets/backgrounds/back.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.upper
{
    height: 60px;
    width: 100vw;
    background-color: rgb(57, 67, 135);
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}

.upper .right
{
    float: right;
    padding: 15px;
}

.upper .right form span, .upper .right form input[type="text"], .upper .right form input[type="password"]
{
    font-size: 20px;
    height: 30px;
    max-width: 100px;
    border: none;
    padding: 1px;
}

.re
{
    clear: both;
}

.upper span
{
    display: inline-block;
    color: rgba(255,255,255,1);
    padding: 20px;
    font-size: 20px;
}

.upper span a:link, .upper span a:visited, .upper span a:link:active, .upper span a:visited:active, .upper .right form a,
.upper .right form a:link, .upper .right form a:visited, .upper .right form a:link:active, .upper .right form a:visited:active
{
    text-decoration: none;
    color: rgb(57, 67, 135);
    background-color: rgb(255,255,255,1);
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.content
{
    width: 60vw;
    height: 70vh;
    background-color: rgba(255,255,255,1);
    margin-left: 20vw;
    margin-top: 9vh;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow-y: scroll;   
}

.content::-webkit-scrollbar {
    display: none;
  }

.content:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.content .card-title
{
    height: 60px;
    background-color: rgba(57,67,135,1);
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}

.content .card-title p
{
    color: rgba(255,255,255,1);
    padding: 20px;
    font-size: 20px;
}
